.contact-wrapper{
    background-color: #fff;
  }
  
  .services-header {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../imgs/discount-banner.jpg) center left no-repeat fixed;
    background-size: cover;
  
    .nav {
      .nav-item {
        font-family: $text-b;
        font-size: 1rem;
        .nav-link {
          color: white;
  
          &:hover {
            font-weight: bold;
          }
        }
  
        .active {
          color: #d29dc7;
        }
      }
    }
  
    h1 {
      margin-top: 25vh;
      color: #ffffff;
      font-family: $header-b;
      font-size: 4.5rem;
      text-transform: capitalize;
  
      .pink {
        color: #d29dc7;
      }
    }
  
    .btn-primary {
      font-family: $text-b;
      font-size: 1.8rem;
      color: white;
      width: 300px;
      border-radius: 30px 30px 30px 30px;
  
      &:hover {
        background-color: white;
        color: #d29dc7;
      }
    }
}



.contact-form{
    font-family: $text-r;
    font-weight: 600;
}

.contact-heading{
    font-family: $header-b;
    font-size: 2.2rem;
}

form {
    border-radius: 40px 40px 40px 40px ;

    .form-group{
      .btn{
        color: white;
        border-radius: 20px;
        border: 2px solid #d29dc7;

        &:hover{
          color: #d29dc7;
          background-color: #ffffff;
          
        }
      }
    }
}

.sidebar{
  .btn{
    color: white;
    border-radius: 20px;
    border: 2px solid #d29dc7;

    &:hover{
      color: #d29dc7;
      background-color: #ffffff;
    }
  }
}