@font-face{
    font-family: 'JosefinSlab-Bold';
    src: url(../fonts/josefinslab/JosefinSlab-Bold.ttf);
}

@font-face{
    font-family: 'JosefinSlab-Regular';
    src: url(../fonts/josefinslab/JosefinSlab-Regular.ttf);
}

@font-face{
    font-family: 'JosefinSans-Regular';
    src: url(../fonts/josefinsans/JosefinSans-Regular.ttf);
}

@font-face{
    font-family: 'JosefinSans-Bold';
    src: url(../fonts/josefinsans/JosefinSans-Bold.ttf);
}

$header-r: 'JosefinSlab-Regular';
$header-b: 'JosefinSlab-Bold';

$text-r: 'JosefinSans-Regular';
$text-b: 'JosefinSans-Bold';