header{
    height: 100vh;
    overflow: hidden;
    background:( linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/15.jpg))  center left no-repeat fixed;

    .header-text-container{
        margin-top: 20vh;
        padding: 0;

        .header-text{
            text-transform: capitalize;
            font-family: $header-b;
            color: white;

            h1{
                font-size: 2.5rem;
                &::after{
                    content: "";
                    top: 18%;
                    left:45%;
                    position: absolute;
                    width: 65px;
                    height: 2px;
                    background-color: #D29DC7;
                }
            }
            
            h2{
    
                font-size: 3.5rem;
            }

            .btn{
                font-family: $header-b;
                font-size: 1.5rem;
                color: white;
                width: 200px;
                border-radius: 20px 20px 20px 20px;
            }

            a:hover{
                background-color: white;
                color: #D29DC7;
            }
        }
    }
}

.quick-info-container{
    background-color: white;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
    .block-quick-info{
        padding: 1em 0;
        margin-top: -2.4em;

        .info-heading{
            font-size: 1.2rem;
            font-family: $text-b;
        }
    }
}

.services-top-text{
    font-family: $header-b;

    p{
        &::after{
            position: absolute;
            content: '';
            top: 125%;
            left: 48%;
            width: 50px;
            height: 2px;
            background-color: #D29DC7;
        }
    }

}

.card{
    font-family: $text-r;
    border: none !important;
    border-radius: 50px;

    &::after{
        position: absolute;
        content: "";
        top: 5px;
        right: 5px;
        left: 5px;
        bottom: 245px;
        background: transparent;
        border: 1px solid #D29DC7;
        z-index: 1;
    }

    h5{
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .card-body{
        background-color: #F6F6F7;

        .btn{
            font-family: $header-b;
            font-size: 0.9rem;
            color: white;
            width: 120px;
            border-radius: 20px 20px 20px 20px;
        }

        a:hover{
            background-color: white;
            color: #D29DC7;
        }
    }
}


.about{
    margin-top: 10em;
    font-family: $text-r;

    .about-img{
        z-index: 1000;


        &::before{
            position: absolute;
            content: '';
            top: -35px;
            right: 140px;
            bottom:60px;
            left: -20px;
            background-color: #f5caec;
            z-index:-1;
        }
    }


    .about-body{
        margin-top: -5em;

        .about-header{
            h2{
                font-family: $header-b;
            }
        }

        .btn{
            font-family: $header-b;
            font-size: 0.9rem;
            color: white;
            width: 120px;
            border-radius: 20px 20px 20px 20px;
        }

        a:hover{
            background-color: white;
            color: #D29DC7;
        }
    }
}


.team{
    margin-top: 10em;
    font-family: $text-r;

    .team-img{
        z-index: 1000;


        &::before{
            position: absolute;
            content: '';
            top: -35px;
            right: 140px;
            bottom:60px;
            left: -20px;
            background-color: #f5caec;
            z-index:-1;
        }
    }


    .team-body{
        margin-top: -5em;

        .team-header{
            h2{
                font-family: $header-b;
            }
        }

        .btn{
            font-family: $header-b;
            font-size: 0.9rem;
            color: white;
            width: 120px;
            border-radius: 20px 20px 20px 20px;
        }

        a:hover{
            background-color: white;
            color: #D29DC7;
        }
    }
}

