.home-header {
  height: 100vh;
  overflow: hidden;
  background: (
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../imgs/15.jpg)
    )
    center left no-repeat fixed;

  .header-text-container {
    margin-top: 20vh;
    padding: 0;

    .header-text {
      text-transform: capitalize;
      font-family: $header-b;
      color: white;

      h1 {
        font-family: $text-b;
        font-size: 2.5rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 1.2em;
          left: 1.2em;
          width: 50px;
          height: 2px;
          background-color: #d29dc7;
        }
      }

      h2 {
        font-size: 4rem;
      }

      .btn {
        font-family: $text-b;
        font-size: 1.8rem;
        color: white;
        width: 200px;
        border-radius: 20px 20px 20px 20px;
      }

      a:hover {
        background-color: white;
        color: #d29dc7;
      }
    }
  }
}

@media only screen and( max-width: 576px){
  .home-header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../imgs/15.jpg);
    background-position: 50% 50%;
    .header-text-container{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .header-text{
        h1{
          position: relative;
          &::after{
            content: "";
            top: 1.2em;
            left: 1.2em;
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: #d29dc7;
          }
        }

        h2{
          margin-top: 2px;
          font-size: 3rem;
        }
      }
  
    }
  }
}

.quick-info-container {
  background-color: white;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  .block-quick-info {
    padding: 1em 0;
    margin-top: -2.4em;

    .info-heading {
      font-size: 1.2rem;
      font-family: $text-b;
    }

    .info-text {
      font-family: $text-r;
    }
  }
}
@media only screen and (max-width:576px){
 .quick-info-container{
   width: 85vw !important;
   box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
   .block-quick-info{
     .quick-info{
      display: flex;
      flex-direction: column;
      align-items: center;
     }
   }
 }
} 

.services-top-text {
  font-family: $header-b;
  
  p {
    font-family: $text-r;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 1.5em;
      left: 33.5em;
      width: 50px;
      height: 2px;
      background-color: #d29dc7;
    }
  }
}
@media only screen and (max-width:576px){
  .services-top-text{
    p{
      position: relative;
      &::after{
        position: absolute;
        content: "";
        top: 1.5em;
        left: 12.5em;
        width: 50px;
        height: 2px;
        background-color: #d29dc7;
      }
    }
  }
}


.card-style {
  border: none !important;
  border-radius: 50px;

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 265px;
    background: transparent;
    border: 1px solid #d29dc7;
    z-index: 1;
  }

  .card-body {
    background-color: #f6f6f7;

    h5 {
      font-family: $header-r;
      font-size: 1.5rem;
      font-weight: bold;
    }

    p .card-title {
      font-family: $text-r;
    }

    .btn {
      font-family: $text-b;
      font-size: 0.9rem;
      color: white;
      width: 120px;
      border-radius: 20px 20px 20px 20px;
    }

    a:hover {
      background-color: white;
      color: #d29dc7;
    }
  }
}


.about {
  height: 100vh;
  margin-top: 5em;

  .about-img {
    z-index: 1000;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -35px;
      right: 140px;
      bottom: 60px;
      left: -50px;
      background-color: #f5caec;
      z-index: -1;
    }
  }

  .about-body {
    margin-top: -5em;

    .home-about-header {
      background-color: white;
      z-index:1000;
      h2 {
        font-family: $header-b;
      }
    }

    .about-text {
      font-family: $text-r;
    }

    .btn {
      font-family: $text-b;
      font-size: 1.2rem;
      color: white;
      width: 120px;
      border-radius: 20px 20px 20px 20px;
    }

    a:hover {
      background-color: white;
      color: #d29dc7;
    }
  }
}
@media only screen and (max-width:576px) {
  .about{
    margin-bottom: 5em;
    .about-body{
      margin-top: 3em;
      .home-about-header{
        p, h2{
          text-align: center;
        }
      }

      .about-text{
        text-align: center;
      }
    }
  }
}

.gallery-header {
  font-family: $header-b;
  text-transform: capitalize;
  text-align: center;
  
  h3 {
    margin-bottom: 1em;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 1.5em;
      left: 23.5em;
      width: 50px;
      height: 2px;
      background-color: #d29dc7;
    }
  }
}

.gallery-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $header-b;
      border-radius: 10px;
    }

    .deeppink {
      color: #ffebff;
      background-color: #9e6579;
    }

    .gold {
      background-color: #eb9d00;
    }

    .green {
      color: #ffebff;
      background-color: #044d2b;
    }

    .gallery__img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media only screen and ( max-width:576px){
  .gallery-header h3{
      margin-top: 9em;
      position: relative;
    
    &::after{
    position: absolute;
    content: "";
    top: 1.5em;
    left: 8em;
    width: 50px;
    height: 2px;
    background-color: #d29dc7;
    }
  }
  .gallery-container{
    margin-top: 3em;
    .gallery{
      grid-template-columns: 80vw;
      grid-template-rows: auto;
    }

    .gallery__text{
      height: 25vh;
    }

    .gallery__text-1{
      grid-row: 1;
    }
    .gallery__text-2{
      grid-row: 4;
    }
    .gallery__text-3{
      grid-row: 7;
    }

  }
}

.team {
  height: 100vh;
  margin-top: 10em;
  font-family: $text-r;

  .team-img {
    z-index: 1000;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -35px;
      right: 140px;
      bottom: 60px;
      left: -20px;
      background-color: #f5caec;
      z-index: -1;
    }
  }

  .team-body {
    margin-top: -5em;

    .team-header {
      h2 {
        font-family: $header-b;
      }
    }

    .team-text {
      padding: 5px;
    }
  }
}
@media only screen and ( max-width:576px){
  .team-text{
    margin-bottom: 2em;
  }
}


.testimonial__header {
  font-family: $header-b;
  text-transform: capitalize;
  &::after {
    content: "";
    transform: translateX(-50%);
    left: 50%;
    bottom: -40%;
    position: absolute;
    width: 100px;
    height: 1px;
    background: #ea728c;
  }
}

.testimony-container {
  background-color: #efefef;
}
.owl-carousel {
  .block-testimony {
    padding: 30px;
    border: 1px solid #e7e4e4;
  }

  h2 {
    font-family: $header-b;
    font-size: 1.8rem;
  }
  p {
    font-family: $text-b;
    font-size: 1.2rem;
    margin: 0 0 1rem;
  }
}
@media only screen and ( max-width:576px){
  .testimony-container{
    margin-top: 4em;
  }
}

.discount-container {
  height: 70vh;
  margin-top: 5em;
  overflow: hidden;
  background: (
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../imgs/discount-banner.jpg)
    )
    center no-repeat fixed;
    background-size: cover;

  h2 {
    font-size: 3.5rem;
    font-family: $header-b;
  }

  p {
    font-family: $text-r;
  }

  .btn {
    padding: 8px;
    font-family: $text-b;
    font-size: 1.5rem;
    color: white;
    width: 350px;
    border-radius: 20px 20px 20px 20px;
    &:hover {
      border: 1px solid #d29dc7;
      color: #d29dc7;
      background-color: #fff;
    }
  }
}
@media only screen and ( max-width:576px){
  .discount-container{
    h2{
      font-size: 2.5rem;
    }
    p{
      font-size: 1rem;
    }

    .btn{
      width: 400px;
      font-size: 1rem;
      
    }
  }
}

.site-footer {
  margin-top: 5em;
  
  .footer-header {
    font-family: $header-b;
    text-transform: capitalize;
  }
  .footer-menu {
    li {
      list-style-type: none;
      text-transform: capitalize;

      a {
        font-weight: 500;
        text-decoration-line: none;

        &:hover {
          color: #9e6579;
          transition: all 1s ease;
          text-decoration: none;
          
        }
      }
    }
  }

  .fab:hover {
    transition: all 1s ease;
    text-decoration: none;
    color: #9e6579;
  }

  .footer-bottom p{
    font-family: $header-b;
    text-transform: capitalize;
    color: #d29dc7;
  }
}
@media only screen and ( max-width:576px){
  .site-footer{
    text-align: center;
  }
}