*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$theme-colors:(
  'primary': #D29DC7,
  
);

@import 'fonts';
@import 'header';
@import 'services';
@import 'about';
@import 'contact';

@import '../node_modules/bootstrap/scss/bootstrap.scss';

